$orange-primary: #ffa501;
$orange-secondary: #ac740c;
$primary-white: #fff;
$secondary-gray:#e5e5e5;
$primary-black: #000;
$primary-gray: rgba(182, 181, 160, 0.15);
$button-shadow: rgba(0, 0, 0, 0.15);


$breakpoint_xxl: 1400px;
$breakpoint_xl: 1200px;
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
$breakpoint_xs: 320px;
